    global
        daemon
        maxconn 256

    defaults
        mode http
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

    frontend front
        mode http
        bind *:80
{% if target.ssl %}
        bind *:443 ssl crt {{ haproxy_cert_dir }}/{{ target.fqdn }}.pem alpn h2,http/1.1
        http-request redirect scheme https code 301 unless { ssl_fc }
{% endif%}
        default_backend servers

    backend servers
        balance roundrobin
{% for server in target.backend_servers %}
        server {{ server.hostname }} {{ server.ip }}:{{ server.port }} check {% if server.ssl %}ssl verify none{% endif %}
{% endfor %}
